index/encore-ui/**/*.otf filter=lfs diff=lfs merge=lfs -text
index/encore-ui/**/*.woff filter=lfs diff=lfs merge=lfs -text
index/encore-ui/**/*.woff2 filter=lfs diff=lfs merge=lfs -text
index/encore-ui/**/*.ttf filter=lfs diff=lfs merge=lfs -text
index/encore-ui/**/OFL.txt text eol=lf
