pkgname=encore-compiler
pkgver=0.1.3
pkgrel=1
pkgdesc="Encore programming language native compiler"
arch=("x86_64" "aarch64")
url="https://github.com/encore-language/encore"
license=("MIT")
depends=("clang")

source_x86_64=("encore-${pkgver}-x86_64.tar.gz::${url}/releases/download/v${pkgver}/encore-x86_64-unknown-linux-gnu.tar.gz")
source_aarch64=("encore-${pkgver}-aarch64.tar.gz::${url}/releases/download/v${pkgver}/encore-aarch64-unknown-linux-gnu.tar.gz")
sha256sums_x86_64=("@X86_64_SHA256@")
sha256sums_aarch64=("@AARCH64_SHA256@")

case "$CARCH" in
  x86_64) _triple=x86_64-unknown-linux-gnu ;;
  aarch64) _triple=aarch64-unknown-linux-gnu ;;
esac

package() {
  local source_root
  source_root=$(find "$srcdir" -maxdepth 1 -type d -name "encore-*-${_triple}" -print -quit)
  test -n "$source_root"
  install -d "$pkgdir/opt/encore" "$pkgdir/usr/bin"
  cp -a "$source_root"/. "$pkgdir/opt/encore/"
  ln -s /opt/encore/bin/encore "$pkgdir/usr/bin/encore"
}
